* {
    box-sizing: border-box; /* This makes the border of boxes within the box  */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* centers content horizantally */
    margin: 0;
    background: purple;
}

body, .quote-input {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: pink;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 2rem; /* 2 rem from top */
    font-size: 3rem;
    color: pink;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}

.quote-input {
    background-color: transparent;
    border: 2px solid rgb(255, 129, 150);
    outline: none; /* if you disable outline, make sure to edit focus state */
    width: 100%;
    height: 8rem;
    margin: auto;
    resize: none; /* can't resize box */
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.quote-input:focus {
    border-color: purple;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

#pauseButton {
    color: purple;
    display: block;   /* makes it a block element */
    margin: 2rem auto; /* 20px top/bottom, auto left/right centers it */
    border: none;            /* remove default border */
    border-radius: .5rem;   /* rounded corners */
    cursor: pointer;    
    width: 200px;
    height: 50px;
    background-color: pink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

#pauseButton:hover {
    background-color: rgb(251, 110, 133);
}





/* Thats all for CSS */